@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- General Styling --- */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #060407; /* Latar Belakang Utama - Hampir Hitam */
  color: #ededed;
}

/* --- Navigation Styling --- */
.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}
.nav-link.nav-active {
  background-color: #9882B9; /* Warna Aksen */
  color: #060407;
  box-shadow: 0 4px 14px rgba(152, 130, 185, 0.3);
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100vh;
  background: #221932; /* Latar Belakang Sekunder */
  padding-top: 5rem;
  transition: right 0.4s ease-in-out;
  z-index: 100;
}
.mobile-nav.active {
  right: 0;
}

/* --- Button & Shadow Styling --- */
.btn-shadow {
  box-shadow: 0 4px 20px rgba(152, 130, 185, 0.4);
}

/* --- Portfolio Filter Styling --- */
.filter-btn {
  color: #ededed;
}
.filter-btn.active {
    background-color: #9882B9; /* Warna Aksen */
    color: #060407;
}

/* --- Animation --- */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
.floating-icon {
    animation: float 6s ease-in-out infinite;
}
